body {padding-top: 60px;}
#ajaxloader {width:50px;height:50px;margin:0px auto;display:none;}
#categoriesContainer {display:none}
#dashboardContainer {display:none}
//#employeeContainer {display:none}
#itemsContainer {display:none}
#loginContainer {display: none;}

#tablesContainer {display:none}

#categories {
	list-style:none;
	font-size: 20px;

}
#categories li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#categories {
    border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#categories li .btn-group {
	float:right;
}

#employee {
	list-style:none;
	font-size: 20px;
    border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#employee li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#employee li .btn-group {
	float:right;
}

.accordion-inner input {
	position:relative;
	top: 5px;
}
.accordion-inner input {
	position:relative;
	top: 5px;
}
.accordion-inner input {
	position:relative;
	top: 5px;
}
.dashTableOrder {
	float:left;
	width:230px;
	padding: 10px;
	margin: 10px;
	border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#orderItems {
	list-style:none;	height: 150px;
}
#orderItems li {
	position: relative;
	right: 20px;
}
.oprice { float: right;}

#tables {
	list-style:none;
	font-size: 20px;
}
#tables li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#tables {border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tables li .btn-group {
	float:right;
}
