body {padding-top: 60px;}
.clear{clear:both;}
.navbar{display:none;}
#ajaxloader {width:50px;height:50px;margin:0px auto;display:none;}
#categoriesContainer {display:none}
#dashboardContainer {display:none}
#employeeContainer {display:none}
#itemsContainer {display:none}
#loginContainer {display: none;}
#logoutContainer {display: none;}
#orderContainer {display: none;}
#receiptContainer {display:none}
#tablesContainer {display:none}

/* login */
#loginContainer {
    width: 260px;
    border: 1px #e5e5e5 solid;
    padding: 20px;
    margin: 0px auto;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#loginContainer button {
    width: 100px;
    
}
#loginContainer .alert { margin-top:20px; }
#loginContainer .alert button {
    width:20px;
}

/* logout */
#logoutContainer {
    width: 260px;
    border: 1px #e5e5e5 solid;
    padding: 20px;
    margin: 0px auto;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#logoutContainer button {
    width: 100px;
    
}

/* employee */
#employee {
	list-style:none;
	font-size: 20px;
    margin-top:20px;
    border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#employee li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#employee li .btn-group {
	float:right;
}
.employeeForm {display:none}
.employeeForm img {height:200px;}
.leftCol {float:left; width:200px;margin: 20px;}
.changePicture {margin-top: 10px; width: 100%;}
.userInfo {width: 200px;}
.username {width: 180px;}
.empInfo { margin: 20px;}
.userCInfo { margin: 20px;}
.empInfo label{font-size: 18px;margin: 4px;}
.userCInfo label{font-size: 18px;margin: 4px;}
.employeeCForm img {height:100px;}
.btnPassword{ margin-top:10px;}

/* Order */
#ordersTable{margin-top: 20px;}
ordersTable tr td{padding:10px;}
.menuItemForm{ display:none;}
/* Menu Item */
#MenuItem {
	list-style:none;
	font-size: 20px;
    margin-top:20px;
    border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#MenuItem li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#MenuItem li .btn-group {
	float:right;
}

/* tables */
#tables {
	list-style:none;
	font-size: 20px;
    margin-top: 20px;
}
#tables li {border-bottom:1px #e5e5e5 solid;
 padding:10px 10px 15px 10px;
}
#tables {border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tables li .btn-group {
	float:right;
}
.tableInfo { display:none; margin: 10px; padding:10px; }
.deleteTable { float: right;}

/* Receipt */
#receiptContainer { font-family:Calibri;font-size:16px;}
#receiptContainer h1 {font-size:32px;}
#receiptContainer table {width:100%}
#receiptContainer { float : right;}

/* Dashboard */
#dash {
	list-style:none;
	font-size: 20px;
    margin-top:20px;
    border: 1px #e5e5e5 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#dash ul {display:none;}
#dash .btn-group {float:right;}
#dash li {border-bottom:1px #e5e5e5 solid;padding:10px 10px 15px 10px;list-style:none;}